<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Film The Bridge
        include ../partials/head.pug
    body
        include ../partials/navigation.pug
        h2 ADD MOVIE
        section.form-content
          form.main-form(action='/films/new-film' method='POST')
            // MOVIE -------------------------------------------------------
            label.form-label(for='title') Title
            input#title.form-input(type='text' name='Title' placeholder='movie title here')
            label.form-label(for='year') Year
            input#year.form-input(type='text' name='Tear' placeholder='movie year here')
            label.form-label(for='director') imdbID
            input#imdbid.form-input(type='text' name='imdbID' placeholder='movie imdbID here')
            label.form-label(for='director') Director
            input#director.form-input(type='text' name='Director' placeholder='movie director here')
            label.form-label(for='genre') Genre
            input#genre.form-input(type='text' name='Genre' placeholder='movie genre here')
            label.form-label(for='runtime') Runtime
            input#runtime.form-input(type='text' name='Runtime' placeholder='movie runtime here')
            label.form-label(for='poster') Poster
            input#poster.form-input(type='file' name='Poster' placeholder='movie poster here')
            input#submit.form-input.main-submit(type='submit' value='ADD')





        script(src='../js/script.js')