<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include partials/head.pug
    body
        include partials/navigation.pug
        form.containerSearch(action='/films-results' method='POST')
            label.lupa__search-page(type='submit' for='titulo')
                i.fa.fa-search
            input#search.input__search-page(type='text' name='titulo' placeholder='Search a Movie')
            //- button(type='submit') Submit
        script(src='/js/script.js')  
