<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Film The Bridge
        include partials/head.pug
    body
        include partials/navigation.pug
        h3 Welcome, Ylenia
        
        //boton search
        form.containerSearchSlider(action='/films-results' method='POST')
            label.lupa__search-pageUser(type='submit' for='titulo')
                i.fa.fa-search
            input#search.input__search-pageUser(type='text' name='titulo' placeholder='Search a Movie')

        // last films
        article.header-fooSlider
            h2.film__titleSlider LAST FILMS
        include partials/carrusel.pug

        script(src="/js/JQuery3.3.1.js")
        script(src="/js/lightslider.js")
        script(src="/js/carrusel.js")
        script(src="/js/script.js")