body{
        margin:0px;
        padding: 0px;
        font-family: 'Montserrat', sans-serif;
        background-color: #000000;
}
        
*{
        box-sizing:border-box;
        scroll-behavior: smooth;
    }
    
h1{
    color:#ffffff;

}

h2{
    color:#ffffff;
    font-size:18px;
    text-align: center;


}
h3{
  color:#ffffff;
  font-size:18px;
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.paragraph{
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.paragraph--grey{
    color:#D5D5D5;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.getPosterPut{
  font-size:1px;
  visibility:hidden;
}


/* <!--################################### BUTTONS ####################################### --> */

.button-big{
  display:inline-block;
  border-radius: 9px;
  width: 285px;
  height: 42px;
  border: none;
  font-weight: 500;
  margin: 10px 0 25px 0;
  padding:10px;
  color:#000000;
  text-align: center;
  background: rgb(204,79,68);
  background: -moz-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc4f44",endColorstr="#bf210f",GradientType=1);
  margin-top: 1em;    
}
.button-medium{
  border-radius: 9px;
  width: 150px;
  height: 42px;
  border: none;
  font-weight: 500;
  margin: 10px 0 25px 0;
  padding:10px;
  color:#ffffff;
  text-align: center;
  background: rgb(204,79,68);
  background: -moz-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc4f44",endColorstr="#bf210f",GradientType=1);
  margin-top: 1em;    
}
.button-small{
  border-radius: 9px;
  width: 110px;
  height: 42px;
  border: none;
  font-weight: 500;
  margin: 10px 0 25px 0;
  padding:10px;
  color:#ffffff;
  text-align: center;
  background: rgb(204,79,68);
  background: -moz-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc4f44",endColorstr="#bf210f",GradientType=1);
  margin-top: 1em;    
}

.button-small--border{
  background: transparent;
  border: #ffffff 1.5px solid;
  border-radius: 9px;
  width: 110px;
  height: 42px;
  font-weight: 500;
  margin: 10px 0 25px 0;
  padding:10px;
  color:#ffffff;
  text-align: center;
  margin-top: 1em;
}

.button-medium--border{
  background: transparent;
  border: #ffffff 1.5px solid;
  border-radius: 9px;
  width: 150px;
  height: 42px;
  font-weight: 500;
  margin: 10px 0 25px 0;
  padding:10px;
  color:#ffffff;
  text-align: center;
  margin-top: 1em;
}

.edit-delete-buttons{
color: #BF210F;
font-size: 40px;
margin-left: 30px;
}

.delete-button{
  background-color: #000000;
  border: #000000;
  margin-left: -30px;
  
}


/* <!--################################### FORM ####################################### --> */

.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.main-form{
  display:flex;
  flex-direction: column;
  padding: 2em 3em;
}

.form-label {
  color: #ffffff;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 500;

}
.form-input {
  background-color:#212121;
  border-radius: 9px;
  width: 285px;
  height: 42px;
  border: none;
  margin: 10px 0 25px 0;
  outline: none;
} 

.form-input:focus {
  color: #ffffff;
  font-size:15px;
  font-weight: 400;
  padding-left: 20px;
  outline: none; 
}

.form-input::placeholder{
  color:#A2A2A2;
  font-size:15px;
  font-weight: 400;
  padding-left: 20px;
  outline: none;
}

.form-input--text-area {
  min-height: 10em;
}

.main-submit {
  color:#000000;
  background: rgb(204,79,68);
  background: -moz-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc4f44",endColorstr="#bf210f",GradientType=1);
  margin-top: .3em;    
}

.main-submit:focus {
  color: #ffffff;
}

/* <!--################################### LOGIN ####################################### --> */
.header-general{
  margin-top: 50px;
}

.header-login{
  width:100%;
  position: relative;
  height: 305px;
  background-image: url("../img/background-films2.png");
  background-size: cover;
  background-repeat: repeat;
  background-size: 100%;
}

  /* NAV CONTENT */
.header-login__gradient--up{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.02);
  top: 0;
  left:0;
width:100%;
  z-index: 2;
  padding: 100px 30px 30px 25px;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}


.header-logo--login{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 80px;
  margin-top: 90px;

}
.header-login__gradient--down{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 40px;
  margin-top: -20px;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

}
.login__logo--img{
  width: 145px; 
  height: 145px;

}


/*------> SOCIAL */


.social-login--lines{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}

.paragraph--login{
  display: inline-block;
  position:relative;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;

}


.paragraph--login::after, .paragraph--login::before{
  content:'';
  position:absolute;
  width: 70px;
  height: 1px;
  background-color: #A2A2A2;
  top:.5em

}

.paragraph--login::before{
  left:-100px
}

.paragraph--login::after{
  right:-100px
}

.social-login__icon{
  margin-top:10px;
  margin-left: 120px;
  color:#BF210F;
  font-size: 50px;

}

.fa-google-plus{
  margin-left: 25px;
}

.no-account{
  margin-top:30px;
}


.no-account__paragraph{
  margin-top:10px;
  display:block;
  text-align: center;
}

.no-account__link{
  margin-top:10px;
  display:block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;

}




/* <!--################################### HEADER ####################################### --> */



  
  /*----------> NAV CONTENT */
.c-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
    top: 0;
    left:0;
	  width:100%;
    z-index: 2;
    padding: 25px 30px 0 25px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
  
  .nav__burguer {
    background-color: transparent;
    border: none;
  }
  
  .fa-bars {
    color: #bf210f;
    font-size: 30px;
  }
  /*---> LOGO */
  .logo__img {
    width: 12em;
    height: 3em;
    object-fit: contain;
    margin-left: 40px;
  }
  
  .fa-user-circle {
    color: #ffffff;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .nav__user {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
  }
  
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  
  /*--> Burguer */
  li.li1 {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  li.li2 {
    margin-top: -40px;
  }
  li.li3{
      margin-top: -40px;
  }
  .li4 {
      margin-top: 30px;
    list-style: none;
    text-align: center;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 30px;
    /* line-height: 3em; */
    height: 3em;
    /* text-transform: none; */
    font-weight: 500;
    text-decoration: none;
  }
  .li4 a:hover {
    text-decoration: none;
    color: #000000;
  }
  .hamburger {
    position: fixed;
    background-color: transparent;
    left: 0;
    top: 20px;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s
      cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamburger.is-active {
    background-color: transparent;
  }
  ._layer {
    background: #bf210f;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .hamburger.is-active .-top {
    background-color: #000000;
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid {
    opacity: 0;
  }
  .hamburger.is-active .-bottom {
    background-color: #000000;
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
  }
  
  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
    background-color: #d03a2d;
    opacity: .8;
    background: rgb(208,58,45);
    background: -moz-linear-gradient(124deg, rgba(208,58,45,1) 0%, rgba(16,4,3,1) 100%);
    background: -webkit-linear-gradient(124deg, rgba(208,58,45,1) 0%, rgba(16,4,3,1) 100%);
    background: linear-gradient(124deg, rgba(208,58,45,1) 0%, rgba(16,4,3,1) 100%);
  }
  .menuppal {
    background-color: #000000;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
  .menuppal ul {
    margin: 0;
    padding: 0;
  }
  .menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: Montserrat;
    color: white;
    font-size: 40px;
    /* line-height: 3em; */
    height: 3em;
    color: #000000;
    /* text-transform: none; */
    /* font-weight: 40px, bold; */
  }
  .menuppal ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .menuppal ul li a:hover {
    text-decoration: none;
    color: #000000;
  }
  .profile-flex{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .img-usr{
      margin-top: 100px;
      width: 140px;
      height: 140px;
      border: solid 2px #000000;
      border-radius: 50%;
  }
  .usr-paragraph{
      margin-top: -10px; 
  }
  .header {
    width: 100%;
    position: relative;
    height: 5em;
  }

/* <!--################################### FILM DETAILS HEADER ####################################### -->     */
.film-detail-header{
  width:100%;
  position: relative;
  height: 300px;
  /*  background-image: url("../img/film-details__poster.jpg");*/
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 100%;
}


.header-foo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 90px;
  margin-top: 130px;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}


.film__title{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.header__genre{
  display: block;
  position: center;
}

.genre__table{
  padding: 0 10px;
  border-right: #ffffff solid 1px;
}

.genre__table--last{
  border-right: #ffffff solid 0px;
}


/* <!--################################### HEART ICON ####################################### -->     */

.button__heart-fav{
  color:#ffffff;
  background-color: transparent;
  border:none;
  margin-right: -80%;
  font-size: 15px;
}

/* <!--################################### RATES - STARS ####################################### -->     */
.rate{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  margin-bottom: 30px;
}
.rates__number{
  color:#ffffff;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0px;
}

.rates__stars-outer {
  position: relative;
  display: inline-block;
}

.rates__stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rates__stars-outer:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.rates__stars-inner:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #BF210F;
}

.rates__number{
  color:#ffffff;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0px;
}

.film__information{
  margin: 0 45px 0px 40px;
}

.film__details--title{
  color:#ffffff;
}

.film__details--title{
  padding: 5px;
  text-align: left;

}

.film__information{
  margin: 0 45px 0px 40px;
}

.film__details--title{
  color:#ffffff;

}

.film__details--td{
  padding:5px;
}

.paragraph--grey.film__details--td{
  padding-right: 50px;

}


/* <!--################################### SEARCH PAGE ####################################### --> */

.containerSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  width: 300px;
  height: 30px;
  margin-top: 150px;    
  border: none;
  font-size: 30px;
  float: left;
  color: #ffffff;  
  
}

.containerSearchAdmin{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  width: 300px;
  height: 30px;
  margin-top: 80px;    
  border: none;
  font-size: 30px;
  float: left;
  color: #ffffff;  
  
}

.lupa__search-page{
  color: #BF210F;
  font-size: 100px;
  margin:40px 10px;
}

.lupa__search-pageAdmin{
  color: #BF210F;
  font-size: 150px;
  margin: 30px 10px;
}




.input__search-page{
  Background-color:transparent;
  margin-left:10px;
  width: 100px;
  border-top:transparent;
  border-left: transparent;
  border-right:transparent;
  color: #ffffff;
  outline: none;
}

.input__search-page{
  Background-color:transparent;
  margin-left:10px;
  width: 200px;
  border-top:transparent;
  border-left: transparent;
  border-right:transparent;
  color: #ffffff;
  outline: none;
}

.input__search-page:placeholder-shown{
  text-align: center;
}


/* films-results base de datos */
.new-Film--Li{
  list-style: none;
  font-size: 10px;
  color:white;
  margin-top: 20px;
  margin-left: 20px; 
}

.button-small--adminDash{
  display:inline-block;
  border-radius: 9px;
  width: 200px;
  height: 42px;
  border: none;
  font-weight: 500;
  margin: 10px 40px 50px 90px;
  padding:10px;
  color:#000000;
  text-align: center;
  background: rgb(204,79,68);
  background: -moz-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  background: linear-gradient(180deg, rgba(204,79,68,1) 0%, rgba(191,33,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc4f44",endColorstr="#bf210f",GradientType=1);
     

}

/**********************DASHBOARD***********/
/*********boton search*******/


/******last films********/
.header-fooSlider{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 50px;
  margin-top: 150px;
  margin-bottom: 10px;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
.film__titleSlider{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.lupa__search-pageUser{
  color: #BF210F;
  font-size:50px;
  margin:0px 10px;
}

.containerSearchUser{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  width: 30px;
  height: 30px;
  margin-top: 80px;    
  border: none;
  font-size: 50px;
  float: left;
  color: #ffffff;  
  
}
/* Tabla de searchResults */
/* .containerSearchFilms{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  width: 300px;
  height: 30px;
  margin-top: 0px;    
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  
} */
/* .tabla{
  margin-top: 60px;
  margin-left: 20px;
}
.posters{
  width: 160px;
  height: 220px;
  padding-right: 20px;
}
.detailss{
  font-size: 10px;
  color:white
}
.seeMore{
  padding-left: 30px;
  color:white
} */