    // CARRUSEL
.container
    ul#autoWidth.cs-hidden
        // 1----------------------------
        li.item-a
          // slider-box
          .box
            // model
            img.model(src="/img/Group -1.png")
            // details
        // 2----------------------------
        li.item-a
          // slider-box
          .box
            // model
            img.model(src="./img/Group -2.png")
            // details
        // 3----------------------------
        li.item-a
          // slider-box
          .box
            // model
            img.model(src="./img/Group -3.png")
            // details
        // 4----------------------------
        li.item-a
          // slider-box
          .box
            // model
            img.model(src="./img/Group -4.png")
            // details
        // 5----------------------------
        li.item-a
          // slider-box
          .box
            // model
            img.model(src="./img/Group -5.png")
            // details
        // 6----------------------------
        li.item-a
          // slider-box
          .box
            // model
            img.model(src="./img/Group 2.png")
            // details
