// style css link & First normalize - own style
link(rel='stylesheet', type='text/css', href='/css/normalize.css')
link(rel='stylesheet', type='text/css', href='/css/style.css')
link(rel='stylesheet', type='text/css', href='/css/filmList.css')
link(rel='stylesheet' type='text/css' href='/css/lightslider.css')
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap' rel='stylesheet')
script(src='https://kit.fontawesome.com/7acfb2ba9a.js')