header.header
          nav.c-nav
            .nav__burguer
              .hamburger
                ._layer.-top
                ._layer.-mid
                ._layer.-bottom
              nav.menuppal
                .profile-flex
                  img.img-usr(src='../img/img_usr.jpg' alt='ylenia')
                  p.paragraph Ylenia Padilla
                  p.usr-paragraph Premium
                ul
                  li.li1
                    a(href='/') HOME
                  li.li2
                    a(href='/search') SEARCH
                  li.li3
                    a(href='/films') MY MOVIES
                  li.li3
                    a(href='/films/add') ADD A MOVIE
                p.li4
                  a(href='/') LOG OUT
            // LOGO -------------------------------------------------------
            a.logo__link(href='')
              img.logo__img(src='../img/logoFilmFull.svg' alt='')
            // USER ------------------------------------------------
            a.nav__user(href='')
              | Hi, Lali
              i.fas.fa-user-circle
